.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-info {
  font-family: 'Frijole', cursive;
  font-size: 16px;
  line-height: 5px;
  color: rgba(255, 51, 51, 0.877);
}

.fighter-preview___root>img {
  height: 300px;
  width: 250px;
}

.list {
  padding: 10px;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  cursor: pointer;
}

li {
  list-style: none;
}

li:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  padding-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  font-size: 24px;
}

li:nth-child(2):before {
  background-image: url('/resources/health.png');
}

li:nth-child(3):before {
  background-image: url('/resources/attack.jpg');
}

li:nth-child(4):before {
  background-image: url('/resources/defense.png');
}

.fighter-name {
  font-size: 30px;
}